name: Good PR

on:
  pull_request:
    types: [labeled]

jobs:
  notify_slack:
    runs-on: ubuntu-latest

    steps:
      - name: Check PR label
        id: check_label
        run: echo "::set-output name=label_id::${{ github.event.label.id }}"

      - name: Get PR Information
        id: pr_info
        run: |
          echo "::set-output name=pr_link::${{ github.event.pull_request.html_url }}"
          echo "::set-output name=pr_title::${{ github.event.pull_request.title }}"

      - name: Slack Bot Notification
        if: steps.check_label.outputs.label_id == 6172170667
        uses: 8398a7/action-slack@v3
        with:
          status: "custom" # Slack 메시지의 상태
          text: '*좋은 PR 제보*\n\n *<${{ steps.pr_info.outputs.pr_link }}|${{ steps.pr_info.outputs.pr_title }}>*\n\n 함께 보면 좋을 PR 제보가 들어왔어요!'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
